:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --text-menu-mobile: #A8A8B3;
  --text-hover-menu-mobile: #E1E1E6;
}

*{
  font-size: 62.5%;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body{
  background-color: var(--backgrond);
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header{
  position: absolute;
  top: 5rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

header .navigation-menu{
  display: flex;
  align-items: baseline;
  justify-content: center;

  width: 100%;
  height: 5.85rem;

  border-bottom: 1px solid var(--border);
}

header .navigation-menu .logoAndOpen{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
header .navigation-menu .open-menu{
  cursor: pointer;
}
main{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main .title{
  margin-top: 18.4rem;
}
main h1{
  width: 37.3rem;
  height: 12.8rem;

  font-size: 3rem;
  font-family: Manrope, sans-serif;
  font-weight: 600;
  line-height: 4.1rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}


main .subtitle{
  display: flex;
  flex-direction: column;
  gap: .6rem;

  text-align: center;
  width: 34.6rem;
  height: 12.9rem;
  margin-top: 22.1rem;
}
main .subtitle h2{

  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.8rem;
  letter-spacing: -0.03em;

  color: var(--text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .subtitle h2 ~ h2{
  color: black;
  text-shadow: 
  -1px -1px 0 var(--button), 
  1px -1px 0 var(--button), 
  -1px 1px 0 var(--button), 
  1px 1px 0 var(--button);
}
main #imgCoffee{

  margin-top: 4.5rem;
}

main .bg-effect01{
  position: absolute;
  bottom: 0;
}
main .bg-effect02{
  position: absolute;
  display: none;
}
main .bg-effect01 svg, main .bg-effect02 svg{

  width: 28rem;
  height: 32.1rem;

  background-color: #996DFF;
  filter: blur(200px);
  
}

/*=========== Menu-Mobile ==============*/

.navigation-menu #menuMobile{
  position: absolute;
  top: 5.85rem;

  width: 100vw;
  height: 100vh;

  background-color: #000;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}
.navigation-menu #menuMobile.open{
  visibility: visible;
  opacity: 1;
}
.navigation-menu #menuMobile ul{
  list-style: none;
}

.navigation-menu #menuMobile ul li{
  border-bottom: 1px solid var(--border);
  padding: 1.8rem 0 1.4rem 2.78rem;
  position: relative;
}

.navigation-menu #menuMobile ul li:hover > a{
  color: var(--text-hover-menu-mobile);
  font-weight: 700;
}

.navigation-menu #menuMobile ul li::before{
  content: '';
  width: .5rem;
  height: 0%;
  background-color: #8257E5;

  position: absolute;
  top: 0;
  left: 0;

  transition: height 0.3s;
}

.navigation-menu #menuMobile ul li:hover::before{
  height: 100%;
}

.navigation-menu #menuMobile ul li a{
  font-family: Manrope;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;

  color: var(--text-menu-mobile);
  text-decoration: none;
}
.navigation-menu button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  gap: 1rem;

  width: auto;
  height: 3.5rem;

  border: 1px solid var(--button);
  border-radius: .6rem;
  color: var(--text-color);
  background-color: initial;
  cursor: pointer;

  position: absolute;
  top: 35rem;
}
.navigation-menu button p{
  font-family: Manrope, sans-serif;
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.02em;
}

/*========== media ===============*/

@media (min-width: 1024px){

  nav.navigation-menu{
    align-items: center;
    justify-content: space-between;
    border: none;
    width: 70%;
    margin-left: 9%;
  }
  
  nav.navigation-menu div#menuMobile{
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
    width: fit-content;
    height: inherit;
  }
  nav.navigation-menu .logoAndOpen{
    width: initial;
  }
  nav.navigation-menu .logoAndOpen .logo{
    cursor: pointer;
  }
  nav.navigation-menu #menuMobile ul{
    display: flex;
    width: 43.135rem;
    justify-content: space-between;
    
  }
  nav.navigation-menu #menuMobile ul li{
    padding: 1.6rem 0;
    border: none;
  }
  nav.navigation-menu #menuMobile ul li a{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.9rem;
    letter-spacing: 00.02em;

    color: var(--text-color);
  }

  header .navigation-menu div.open-menu{
    display: none;
  }

  main .title{
    margin: 0;
  }
  nav.navigation-menu button{
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 1.1rem 3.8rem;
    position: initial;
  }
  nav.navigation-menu button p{
    width: 9.6rem;
    height: 1.5rem;
  }
  nav.navigation-menu button .img-get-coffee{
    display: none;
  }

  nav.navigation-menu #menuMobile ul li::before{
    width: 0%;
  
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
  
    transition: width 0.3s;
  }
  
  nav.navigation-menu #menuMobile ul li:hover::before{
    width: 100%;
    height: .5rem;
  }

  body main h1{
    display: none;
  }

  body main .subtitle{
    top: 16rem;
    left: 40.6rem;
    width: 54.8rem;
    height: 20.4rem;
  }
  body main .subtitle h2{
    font-size: 8rem;
    line-height: 10.9rem;
  }
  body main #imgCoffee{
    width: 79.878rem;
    height: 50.647rem;
    
  }

  main .bg-effect01{
    top: -6.3rem;
    right: 0;
    bottom: initial;
  }

  main .bg-effect02{
    display: flex;
    bottom: 0rem;
    left: -2.9rem;
    width: 32.1rem;
    height: 32.1rem;
  }

  
}