:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --text-menu-mobile: #A8A8B3;
  --text-hover-menu-mobile: #E1E1E6;
}

*{
  font-size: 62.5%;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body{
  background-color: var(--backgrond);
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main .title{
  margin-top: 18.4rem;
}
main h1{
  width: 37.3rem;
  height: 12.8rem;

  font-size: 3rem;
  font-family: Manrope, sans-serif;
  font-weight: 600;
  line-height: 4.1rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}