:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --text-menu-mobile: #A8A8B3;
  --text-hover-menu-mobile: #E1E1E6;
}

*{
  font-size: 62.5%;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body{
  background-color: var(--backgrond);
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 96rem;
  min-height: 100vh;
  position: relative;
}

main{
  position: absolute;
  top: 11rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main .title{
  margin-top: 7.4rem;
}
main h1{
  width: 37.3rem;
  height: 12.8rem;

  font-size: 3rem;
  font-family: Manrope, sans-serif;
  font-weight: 600;
  line-height: 4.1rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*========= EFFECT BACKGROUND ================*/
body .bg-effect01{
  position: absolute;
  top: 15rem;
}
body .bg-effect02{
  position: absolute;
  bottom: 0;
}
body .bg-effect01 svg, body .bg-effect02 svg{
  width: 28rem;
  height: 32.1rem;

  background-color: #996DFF;
  filter: blur(250px);
}
@media (min-width: 1024px){
  body .bg-effect01{
    position: absolute;
    top: 0;
    right: 0;
  }
  body .bg-effect02{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  body .bg-effect01 svg, body .bg-effect02 svg{

    filter: blur(200px);
  }
}