main{
  height: auto;
}
main h1{
  width: auto;
}
header .navigation-menu button{
  display: none;
}
.menu{
  display: grid;
  grid-template-columns: 100%;

  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 1rem;

  margin-bottom: 1rem;
}
.menu .container{
  border: 1px solid var(--button);
  border-radius: .5rem;
  box-sizing: border-box;

  padding: 1rem;
  width: 90%;
  height: 100%;
}
.menu .container:hover{
  cursor: pointer;
  box-shadow: 3px 3px 6px var(--button), -1px -1px 6px var(--button);
}
.menu .container h3{
  color: var(--text-hover-menu-mobile);
}
.menu .container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 4rem;
  position: relative;

  padding-bottom: .5rem;
}
.menu .container .content::before{
  content: '';
  width: 0%;
  height: .3rem;
  background-color: #8257E5;

  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;

  transition: width 0.3s;
}
.menu .container:hover > .content::before{
  width: 100%;
}
.menu .container .content .valueCoffe{
  color: var(--text-hover-menu-mobile);
  opacity: .8;
}
.menu .container .description{
  margin-top: 1rem;
  font-size: 1.6rem;
  color: var(--text-hover-menu-mobile);
}

@media (min-width: 768px){
  .menu{
    grid-template-columns: 40% 40%;
  }
  .menu .container{
    width: 100%;
  }
}
@media (min-width: 1024px){
  header .navigation-menu button{
    display: flex;
  }
}
@media (min-width: 1440px){

  .menu{
    grid-template-columns: 25% 25% 25%;
    
  }
  .menu .container{
    width: 100%;

  }
}